<a href="https://colab.research.google.com/github/AklimaRimi/Amazon_product_data/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
! git clone https://github.com/AklimaRimi/Amazon_product_data.git

fatal: destination path 'Amazon_product_data' already exists and is not an empty directory.

In [43]:
import pandas as pd
import numpy as np
from PIL import Image

In [44]:
df = pd.read_csv('/content/Amazon_product_data/data/final_data.csv')
df.head()

,Image,Ratings,Price,Description
0,images/71mLC-Qz9AL._AC_SX679_.jpg,4.8,"$1,199\n99",Complimentary 3-month Adobe Creative Cloud sub...
1,images/71c5W9NxN5L._AC_SX679_.jpg,4.6,$208\n00,Aspect Ratio:16:9\nChromebook runs on Chrome O...
2,images/71nz3cIcFOL._AC_SX679_.jpg,4.6,"$1,205\n14",Aspect Ratio:16:9\nExtreme Performance: Crush ...
3,images/71nux68SjIL._AC_SX679_.jpg,4.6,"$1,212\n28",Aspect Ratio:16:9\nVisual Performance: The 15....
4,images/8173Or14LpL._AC_SX679_.jpg,4.6,$299\n00,The performance you'll applaud. The entertainm...

In [45]:
df.isnull().sum()

Image             0
Ratings          11
Price          1805
Description      38
dtype: int64

In [46]:
def clear(x):
  if type(x) == str:
    x = x.replace('\n','.')
    x = x.replace('$','')
    x = x.replace(',','')
    
  return x

In [47]:
df['Price'] = df['Price'].apply(lambda x: clear(x))

In [48]:
df.head()

,Image,Ratings,Price,Description
0,images/71mLC-Qz9AL._AC_SX679_.jpg,4.8,1199.99,Complimentary 3-month Adobe Creative Cloud sub...
1,images/71c5W9NxN5L._AC_SX679_.jpg,4.6,208.00,Aspect Ratio:16:9\nChromebook runs on Chrome O...
2,images/71nz3cIcFOL._AC_SX679_.jpg,4.6,1205.14,Aspect Ratio:16:9\nExtreme Performance: Crush ...
3,images/71nux68SjIL._AC_SX679_.jpg,4.6,1212.28,Aspect Ratio:16:9\nVisual Performance: The 15....
4,images/8173Or14LpL._AC_SX679_.jpg,4.6,299.00,The performance you'll applaud. The entertainm...

In [49]:
df.dtypes

Image           object
Ratings        float64
Price           object
Description     object
dtype: object

In [50]:
df['Price'] = df['Price'].astype('float')

In [51]:
df.dtypes

Image           object
Ratings        float64
Price          float64
Description     object
dtype: object

In [52]:
sub = []
for x in df['Ratings'].unique():
  mean = df[df['Ratings'] == x]['Price'].mean()
  sub.append([x,mean])

In [53]:
sub

[[4.8, 58.7899090909091],
 [4.6, 165.03468277945618],
 [4.5, 290.630421286031],
 [4.4, 296.97261455525603],
 [4.0, 510.71353488372097],
 [5.0, 488.85670138888895],
 [4.9, 49.75606741573035],
 [4.7, 114.79824289405683],
 [3.7, 301.57982758620693],
 [4.3, 298.4236928104575],
 [4.1, 344.3225384615385],
 [4.2, 368.88730994152047],
 [3.8, 321.2564864864865],
 [3.9, 369.75505617977524],
 [3.3, 510.2754166666666],
 [3.2, 389.23789473684207],
 [3.5, 716.2868965517242],
 [3.6, 495.8418421052631],
 [3.0, 551.3551515151514],
 [3.4, 303.79875],
 [2.9, 442.72124999999994],
 [1.0, 733.0544444444445],
 [2.6, 317.8566666666667],
 [2.2, 49.99],
 [2.8, 641.22],
 [2.7, 413.2075],
 [3.1, 880.6958333333333],
 [2.1, 736.7333333333332],
 [2.0, 663.8323529411765],
 [1.7, 349.0],
 [2.5, 279.0],
 [2.4, 285.9425],
 [nan, nan],
 [1.6, nan]]

In [54]:

null_data = df[df['Price'].isna()]

In [55]:
null_data

,Image,Ratings,Price,Description
8,images/81PbOX7ZtaL._AC_SX466_.jpg,4.6,NaN,Escalate your game with up to 8 high-performan...
14,images/81CUrklR8DL._AC_SX679_.jpg,4.8,NaN,NaN
20,images/81Y+ntlEZkL._AC_SX466_.jpg,4.6,NaN,Aspect Ratio:16:9\n13.3 inch OLED 400nits Full...
24,images/710uYao5n4L._AC_SX466_.jpg,4.4,NaN,【Upgraded】RAM is upgraded to 16 GB high-bandwi...
28,images/91shKLxoedL._AC_SX679_.jpg,4.5,NaN,HP Chromebook 14a-na0050nr FHD N4000 4GB 32GB ...
...,...,...,...,...
5676,images/611eX70u4-L._AC_SX679_.jpg,4.3,NaN,"Start typing on your computer, then switch and..."
5679,images/51J05wjSVGL._AC_SX679_.jpg,4.5,NaN,An adjustable 4-8 degree tilt and slim front l...
5685,images/51X31+MjqSL._AC_SX679_.jpg,4.7,NaN,Reliable Wired USB connectivity helps provide ...
5693,images/41p9WJL3yDL._AC_.jpg,4.0,NaN,Split-adjustable design allows the Freestyle2 ...
5700,images/71UizWQ89vL._AC_SY300_SX300_.jpg,4.6,NaN,"【excellent to touch】High-quality PBT material,..."

In [56]:
for x,y in sub:
  df[(df['Ratings'] == x) & (df['Price'].isna())] = y

In [57]:
df.isnull().sum()

Image           1
Ratings        12
Price          11
Description    27
dtype: int64

In [58]:
df = df.dropna()

In [59]:
df.shape

(5663, 4)